@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
}

.panels{
    display: flex;
    height: 100vh;
}

.panel{
    flex: 1;    /* 讓 flex 裡的東西均勻分配 */
    height: 100vh;
    background-position: center;
    color: #fff;
    font-size: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    overflow: hidden;
    transition: all cubic-bezier(0.79,-0.74, 0.4, 0.99) .7s;
}

.panel.open{
    flex: 3;
    font-size: 100px;
}

.panel > * {
	flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px red;
    transition: all ease .5s;
    text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
}

.panel1 { background-image: url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); }
.panel2 { background-image: url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500); }
.panel3 { background-image: url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.3&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }
.panel4 { background-image: url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
.panel5 { background-image: url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }

.panel > *:first-child{transform: translateY(-100%);}
.panel.open-active > *:first-child{transform: translateY(0);}
.panel > *:last-child{transform: translateY(100%);}
.panel.open-active > *:last-child{transform: translateY(0);}
.panel > *:nth-child(2){font-size: 140px;}