*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../1/background.jpg");
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock{
    height: 400px;
    width: 400px;
    position: relative;
    border-radius: 50%;
    border: solid 20px #e5e5e5;
    -webkit-box-shadow: 1px 2px 15px 3px #000000; 
    box-shadow: 1px 2px 15px 3px #000000;
}

.hand{
    width: 42%;
    height: 6px;
    background: #ee5959;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: left; /* 更改 transform-rotate 對應的點 */
    transform: translateY(-50%);
    transform: rotate(270deg);
    transition: all cubic-bezier(0.51,-0.44, 0.21, 2.53) 0.05s;
}